<ion-view view-title="Page List">
<ion-content>
	<center><ion-spinner icon="spiral" ng-show="pagelist"></ion-spinner></center>
	<div class="list pagelist" ng-show="!pagelist">
		<a class="item" href="#" style="padding: 10px" ng-repeat="page in page_name | orderBy:'name'">
		<img ng-src="{{ page.picture }}" class="lazyload">
		<p>{{page.name | cut:true:25}}</p>
		</a>
	</div>
</ion-content>
</ion-view>
