<!-- <div class="list card thumbnail" ng-repeat="d in related_data | unique:'id'" ng-if="d.id != post_id">
			<div class="item post_box">
				<img data-src="{{d.format[1].picture ? d.format[1].picture : ( d.format[0].picture ? d.format[0].picture : ( d.format[0].picture ? d.format[0].picture : d.picture))}}"  class="lazyload">
                <i class="ion ion-ios-play image-overlay" ui-sref="video_page.play({page_id:d.page_id,post_id:d.id})" style="font-size: 50px;" aria-label="Select"></i>
                <span class="video_length" ng-bind="return_length(d.length)"></span>
			</div>
			<div class="item item-avatar">
				<img ng-src="{{d.page_profile_image}}">
				<h2>{{(d.title ? d.title : (d.description ? d.description : (d.page_name ))) | cut:true:40:' ...'}}</h2>
				<p>{{d.page_name | cut:true:40}} ( <span class="updated_time" ng-bind="return_time(d.updated_time)"></span> )</p>

			</div>
		</div>
<ion-infinite-scroll ng-if="!loadmore" spinner="spiral" on-infinite="loadMore(vid_content_category)" distance="1%"></ion-infinite-scroll>
 -->




<div class="related_div">
  <ul>
    <li ng-repeat="d in related_data | unique:'id'" ng-if="d.id != post_id">
    <div class="related_img">
      <img data-src="{{d.format[1].picture ? d.format[1].picture : ( d.format[0].picture ? d.format[0].picture : ( d.format[0].picture ? d.format[0].picture : d.picture))}}"  class="lazyload">
    <span class="video_length" ng-bind="return_length(d.length)"></span>	
    </div>
      <h4>{{(d.title ? d.title : (d.description ? d.description : (d.page_name ))) | cut:true:40:' ...'}}</h4>
      <p>{{d.page_name | cut:true:40}} ( <span class="updated_time" ng-bind="return_time(d.updated_time)"></span> )</p>
    </li>
  </ul>
</div>


<ion-infinite-scroll ng-if="!loadmore" spinner="spiral" on-infinite="loadMore(vid_content_category)" distance="1%"></ion-infinite-scroll>