<ion-view>
   <ion-content scroll="true">
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
     <div ui-view="videoPlayer"></div>
     <div ui-view="realtedVideos"></div>
   </ion-content>
</ion-view>