<div ng-show="!videogularDiv">Loading...</div>
<div class="videogular-container" ng-show="videogularDiv" style="height: 250px">
	<videogular vg-theme="config.theme">
		<vg-media vg-src="config.sources"></vg-media>

		<vg-controls vg-autohide="config.plugins.controls.autoHide" vg-autohide-time="config.plugins.controls.autoHideTime">
		<vg-play-pause-button></vg-play-pause-button>
		<vg-time-display>{{ currentTime  | date:'mm:ss':'+0000'}}</vg-time-display>
		<vg-scrub-bar>
		<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
		</vg-scrub-bar>
		<vg-time-display>{{ timeLeft  | date:'mm:ss':'+0000'}}</vg-time-display>
		<vg-volume>
		<vg-mute-button></vg-mute-button>
		<vg-volume-bar></vg-volume-bar>
		</vg-volume>
		<vg-playback-button></vg-playback-button>
		<vg-fullscreen-button></vg-fullscreen-button>
		<div class='my-button iconButton'><a href='{{video_link}}' download target='_blank'><i class="ion ion-ios-download-outline" style="font-size: 30px"></i></a></div>
		</vg-controls>

		<!-- <vg-analytics vg-track-info='config.plugins.analytics'></vg-analytics> -->
		<vg-overlay-play></vg-overlay-play>
		<vg-buffering></vg-buffering>
		<vg-poster vg-url='config.plugins.poster'></vg-poster>
	</videogular>
</div>
<div>
	
 <div class="item item-divider">
    {{(vid.title ? vid.title : (vid.description ? vid.description : (vid.page_name ))) | cut:true:40:' ...'}}
  </div>
   <div class="item item-text-wrap">
 <span><img ng-src="{{page_info.picture}}" style="width: 30px; padding: 5px"><a ui-sref="all_vid_of_page({page_id:page_info.name_id})">{{page_info.name}}</a></span>
 <p>
 	
      {{vid.description ? vid.description : vid.page_name}}
 </p>
  </div>
 <div class="item item-divider">
    <p>
      <a href="#" class="subdued">Download</a>
      <a href="#" class="subdued">Share</a>
    </p>
  </div>
</div>
