<ion-view view-title="Home">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item active" href="#/app/videolist">
                <i class="icon ion-home"></i>
                Home
            </a>
            <a class="tab-item" href="#/app/trending">
                <i class="icon ion-fireball"></i>
                Trending
            </a>
            <a class="tab-item" href="#/app/pagelist">
                <i class="icon ion-android-list"></i>
                List
            </a>
            <a class="tab-item" href="#/app/profile">
                <i class="icon ion-person"></i>
                Settings
            </a>
        </div>
    </div>
<ion-content padding="true">
    <br><br>
    <center><ion-spinner icon="spiral" ng-show="homelist"></ion-spinner></center>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="list card thumbnail" ng-repeat="d in result" ng-show="!homelist">
        <div class="item post_box">
            <img data-src="{{d.format[1].picture ? d.format[1].picture : ( d.format[0].picture ? d.format[0].picture : ( d.format[0].picture ? d.format[0].picture : d.picture))}}" class="lazyload">
            <i class="ion ion-ios-play image-overlay" ui-sref="video_page.play({page_id:d.page_id,post_id:d.id})" style="font-size: 50px;" aria-label="Select"></i>
            <span class="video_length" ng-bind="return_length(d.length)"></span>
            </div>
            <div class="item item-avatar">
            <img ng-src="{{d.page_profile_image}}">
            <h2>{{(d.title ? d.title : (d.description ? d.description : (d.page_name ))) | cut:true:40:' ...'}}</h2>
            <p>{{d.page_name | cut:true:40}} ( <span class="updated_time" ng-bind="return_time(d.updated_time)"></span> )</p>
        </div>
    </div>
    <!-- <button class="button" ng-click="loadMore()"><i class="icon ion-loading-c"></i> Loading...</button> -->
    <ion-infinite-scroll ng-if="!loadmore" spinner="spiral"  on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
</ion-content>
</ion-view>