 .box_title, .updated_time,  .page_name, .video_length, .sidebar-nav li a, #sidebar-wrapper h4, .list-group a, .video-box-right, h1, h3, h4, p, .footer_text ul li, .load_more_text span, .load_more_text a{    
    font-family: 'Cabin', sans-serif;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body{
    background-color: #f6f6f6;
}
a, button{
    outline: none;
    border: 0; 
}
a:hover, a:active, a:focus {
    outline: none;
    border: 0; 
}
.thumbnail{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.brand-logo{
    padding: 10px;
    cursor: pointer;
}
.brand-logo i{
    font-size: 20px;
    padding-right: 10px
}
.navbar-top-logo{
    background-color: #fff
}
.panel-footer{
    padding: 0px;
    margin-top: 30px
}
.footer_text ul li{
    float: left;
    list-style-type: none;
    margin: 10px;
    font-size: 14px
}
.footer_text ul li a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
hr{
    margin: 0px;
}
.load_more_text{
    text-align: center;
    margin-top: 20px
}
.load_more_text span{
    margin-top: 30px;
    text-align: center;
    padding: 3px 10px;
    color: #686464
}
.load_more_text a{
    border:2px solid #686464;
    padding: 3px 10px;
    color: #686464;
    cursor: pointer;
    text-decoration: none;
}
.puzz-box{  
    margin: 0px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.browse_channels{
    list-style-type: none;
    margin-left: -38px;
}
.image-overlay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #9E9E9E;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.image-overlay:hover{
    color: rgba(102, 51, 153, 0.66)
}
.post_box img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.post_box{
    position: relative;
    height: 250px;
    background-image: -webkit-linear-gradient( 135deg, rgb(23,49,72) 0%,rgb(10,11,31) 75% );
    background-image: linear-gradient( 135deg, rgb(23,49,72) 0%,rgb(10,11,31) 75% );
}
.related_img{    
    width: 40%;
    float: left;
    margin-right: 10px;
    height: 100px;
    position: relative;
    background-image: -webkit-linear-gradient( 135deg, rgb(23,49,72) 0%,rgb(10,11,31) 75% );
    background-image: linear-gradient( 135deg, rgb(23,49,72) 0%,rgb(10,11,31) 75% );
}
.box_title{
    font-size: 16px;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    color: #686464;
    letter-spacing: 0.5px;
}
.box_title a{
    color: #686464;
    text-decoration: none;
}
.updated_time{
    font-size: 11px
}
.page_name{
    font-size: 12px
}
.thumbnail{
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
}
.video_length{
    color:#686464;
    font-size: 12px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 7px;
}
.from{
    color: #686464;
    height: 30px;
}
.mid-container .col-md-3{
    padding: 0px
}
.thumbnail{
    margin: 10px
}