/* Empty. Add your own CSS if you like */

.pagelist img{
    border-radius: 50%;
    float: left;
}
.pagelist p{
    line-height: 50px;
    padding-left: 10px;
}

.related_div * {margin: 0; padding: 0;}


.related_div ul {
  list-style-type: none;
}

.related_div li img {
	float: left;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

.related_div li {
  padding: 10px;
  overflow: auto;
}

.related_div li:hover {
  background: #eee;
  cursor: pointer;
}


/* Smartphones */
@media (max-width: 480px) { ... }

/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) { ... }

/* Tablets */
@media (min-width: 768px) and (max-width: 959px) { ... }

/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) { ... }

/* Large Display */
@media (min-width: 1200px) { ... }
